* {
    margin: 0;
    padding: 0;
    transition: .2s; 
}
:root {
    font-size: calc(1vw + 1vh + .5vmin);
}
body {
    font: 0.7em/1.6 "Open Sans", sans-serif;
    /*-webkit-font-smoothing: antialiased;*/
}
@font-face {
    font-family: War;
    src: url(../fonts/war-webfont.eot) format('eot'),
    url(../fonts/war-webfont.woff2) format('woff');
}
@font-face {
    font-family: GothamPro; /* Имя шрифта */
    src: url(../fonts/GothamPro.otf);
}
a {
    text-decoration: none;
}
header {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
header img {
    position: relative;
    height: 170%;
    z-index: 1;
}
.first-layer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    -ms-align-items: center;
    /*align-items: center;*/
    height: 100px;
}
.contacts {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    -ms-align-items: center;
    align-items: center;
    /*margin: -70px 0 0;*/
}
.contacts a {
    font-size: 29px;
    color: #000;
    font-family: 'War';
}
.contacts span {
    font-size: 1.5em;
    margin: -12px 75px 0;
}
.menu {
    width: 100%;
    background: #f1f2f4;
    /*top: -70px;*/
    position: relative;
}
.menu ul {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    -ms-align-items: center;
    align-items: center;
    height: 47px;
    list-style: none;
    z-index: 1;
}
.menu li {
    margin: 0 0 0 50px;
}
.menu a {
    text-transform: uppercase;
    color: #000;
}
.header-section {
    width: 100%;
    background: #fffbe8;
}
.header-section .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0 75px;
}
.header-section .advantages {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
h1 {
    margin: 0 0 80px;
    font-size: 72px;
    font-family: 'War';
}
h1 p {
    line-height: 1em;
    margin: 0 0 30px;
}
h2 {
    font-family: 'War';
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}
.grunt {
    padding: 30px 0 100px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; 
}
.grunt p {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
.grunt .items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.grunt .item {
    width: 19.5%;
    height: 14vw;
    max-height: 235px;
    background-size: cover;
    margin: 100px 0 0;
}
.grunt .items h3 {
    width: 90%;
    background: #fff;
    box-shadow: 0 0 10px #000;
    position: relative;
    bottom: -200px;
    left: -18px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    font-size: 26px;
    font-family: 'War';
}
.grunt .item-1 {
    background: url(../img/grunt_rastitelny.png);
}
.grunt .item-2 {
    background: url(../img/grunt-2.jpg);
}
.grunt .item-3 {
    background: url(../img/grunt-3.jpg);
}
.grunt .item-4 {
    background: url(../img/grunt-4.jpg);
}
.grunt .item {
    width: 19.5%;
    height: 14vw;
    max-height: 235px;
    background-size: cover;
    margin: 100px 0 0;
}

p.traktor-title {
    margin: 105px 0 0 53%;
    font-size: 150px;
    line-height: 1.2em;
    font-family: 'War';
    text-transform: uppercase;
    background: #262626;
    color: #fff;
}
p.traktor-title span {
    color: #eab600;
}
.grunt img {
    position: absolute;
    width: 45%;
    left: -9%;
    margin: -2% 0 0;
}
.about {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}
.about > p {
    margin: 30px 0 100px;
    text-align: center;
    font-size: 16px;
}
.about-box {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding: 0 0 95px;
}
.about-box .left {
    width: 50%;
}
.about-box h3 {
    font-size: 44px;
    font-family: 'War';
    text-align: left;
}
.about-box .description {
    font-size: 20px;
    color: #747e80;
    line-height: 1.6em;
    margin: 35px 0 70px;
}
.about-box .phone {
    color: #000;
    margin: 0 35px 0 60px;
    font-size: 29px;
    font-family: 'War';
}
.about-box .download {
    font-size: 20px;
    font-family: 'War';
    color: #000;
    background: #ffd700;
    text-transform: uppercase;
    padding: 11px 10px;
    margin: 0 0 0 42px;
}
.about-box span {
    font-size: 1.5em;
}
.right {
    width: 45%;
}
.about-box video {
    width: 100%;
    padding: 13% 0;
    border-radius: 15px;
    background: url(../img/vid-layer.png) no-repeat;
    background-size: cover;
}
.tags {
    padding: 35px 0 100px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.tags ul {
    column-count: 3;
    list-style: none;
}
.tags li {
    border-left: 3px solid #efbf88;
    margin: 0 0 14px;
    padding: 5px;
    font-size: 16px;
    font-family: 'GothamPro';
    height: 31px;
    line-height: 1.2em;
}
.portfolio {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 100px;
}
.portfolio p {
    text-align: center;
    font-size: 16px;
    margin: 30px 0 115px;
}
.portfolio .items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.portfolio .items .left {
    width: 62.5%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    flex-wrap: wrap;
}
.portfolio .items a {
    background: #ccc;
    border-radius: 15px;
    margin: 0 0 30px;
}
.portfolio .items .less {
    width: 35%;
    padding: 17% 0;
}
.portfolio .items .more {
    width: 60%;
    padding: 17% 0;
}
.portfolio .items .big {
    width: 35%;
    padding: 22.5% 0;
}
.location {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.location p {
    margin: 35px 0 115px;
    font-size: 16px;
    font-weight: 300;
}
footer {
    background: #000;
    padding: 20px 0 0;
    color: #fff;
    margin: -7px 0 0;
}
footer .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
footer h3, footer a {
    font-size: 29px;
    text-transform: uppercase;
    font-family: 'War';
    color: #fff;
    text-align: center;
}
.footer-contacts {
    text-align: center;
    margin: 0 0 40px;
}
.footer-contacts span {
    line-height: 1.5em;
    margin: 0 75px;
}
.copyright {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.copyright h4 {
    font-size: 15px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
}
hr {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}